body {
    
    font-family:Academy, 'Times New Roman';
    font-size:1.1em;
    text-align:justify;
    
}
#content{
    width:1024px;
    background-color:#FFFEFD; 
    border:1px solid #8a6464;
    box-shadow:2px 2px 10px #808080;
    margin-left:auto;
    margin-right:auto;
}

input, textarea{
    display:block;
 }
#profile{
    margin-left: 35px;
    margin-right: 35px;
}
fieldset{
    background-color: #CBD9C7;
    border-radius: 20px;
    border:none;
    box-shadow: 3px 3px 6px #3D625C;
 }
